<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juan.sanpedrodelosmilagros">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/turismo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TodoActivity"
            android:label="@string/title_activity_todo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Todo2Activity"
            android:label="@string/title_activity_todo2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Todo3Activity"
            android:label="@string/title_activity_todo3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DrawerMainActivity"
            android:label="@string/title_activity_drawer_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DrawerTodo1Activity"
            android:label="@string/title_activity_drawer_todo1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DrawerTodo2Activity"
            android:label="@string/title_activity_drawer_todo2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DrawerTodo3Activity"
            android:label="@string/title_activity_drawer_todo3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DrawerPerfilActivity"
            android:label="@string/title_activity_drawer_perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HotelList1Activity" />
        <activity android:name=".Hotel2listActivity" />
        <activity android:name=".Hotel3listActivity"></activity>
    </application>

</manifest>